/* 介紹 */
.call-to-action {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  margin-top: 40px;
  background: url("/Expay/resources/img/cta-bg.jpg") #0a2279;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 600px;
}

.call-to-action h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.call-to-action p {
  font-size: 20px;
  margin-bottom: 10px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  min-height: 600px;
}

.advantage {
  padding: 20px 0;
}

.advantage h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.advantage i {
  margin-bottom: 10px;
}

.advantage h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.compare-table {
  padding: 20px 0;
  font-size: 20px;
}

.compare-table h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-us {
  padding: 20px 0;
}

.contact-us h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-us label {
  margin-bottom: 5px;
}

/* cta blur */
.call-to-action.cta-blur .cta-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  min-height: 600px;
}

.call-to-action.cta-blur .shadow {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.call-to-action.cta-blur .container {
  z-index: 11;
}

/* 加密貨幣 */
.call-to-action.cta-blur.cta2 {
  margin-top: 0;
}

.call-to-action.cta-blur.cta2 .cta-image {
  background-image: url("/Expay/resources/img/cta2-bg.jpg");
}

.call-to-action.cta-blur.cta2 .shadow {
  background: rgba(0, 0, 0, 0.35);
}

.call-to-action.cta-blur.cta2 .container {
  text-align: right;
}

/* 幫助 */
.call-to-action.cta-blur.cta-faq {
  background: #fff;
  color: #000;
}

.call-to-action.cta-blur.cta-faq .cta-image {
  background-image: url("/Expay/resources/img/cta-faq-bg.jpg");
}

.accordion .btn:hover {
  color: #007bff;
}
