@charset "UTF-8";

/* 100 300 400 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap');

/* Reset Css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    /* margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font: inherit;
    font-family: Microsoft JhengHei;
    vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

/* navbar padding */
body {
    padding-top: 72px;
}

/* font */
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

/* navbar */
.nav {
    font-size: 1.3rem;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.nav-link .badge {
    color: #fff;
    background-color: #a7abaf;
}

/* footer */
.footer {
    height: 500px;
    width: 100%;
    background-color: rgb(74, 92, 92);
}

.footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_title {
    text-align: center;
    color: rgb(255, 249, 249);
    font-size: 1.5rem;
    margin-top: 40px;
}

.content_container {
    border: 0;
}

.money_container {
    height: 180px;
    line-height: 90px;
    border: 1px solid gray;
    border-radius: 6px;
}

/* Index Button */

.payment_btn {
    width: 80%;
    height: 60px;
    background-color: #da4251;
    color: #fff;
}

.transfer_btn {
    width: 40%;
    height: 60px;
    background-color: #da4251;
    color: #fff;
}

.request_btn {
    width: 40%;
    height: 60px;
    background-color: #da4251;
    color: #fff;
}

.addmoney_btn {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border-radius: 300px;
}

.withdraw_btn {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border-radius: 300px;
}

/* Tab */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #35414c;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: black;
    font-size: 1.1rem;
}

.btn:hover {
    color: #fff;
}

/* Font Color */

.font-red {
    color: #f75959;
}

.font-blue {
    color: #1474de;
}

.font-lightblue {
    color: #4599d6;
}

.font-green {
    color: #0e982e;
}

.font-lightgreen {
    color: #77a88d;
}

/* History */

.tab-content p {
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    .tab-content p {
        font-size: 0.9rem;
    }
}

.account_number {
    border: 1px solid black;
    line-height: 30px;
}

.tab_content {
    border: 1px solid #adb5bd;
}

.history_order {
    border: 1px solid black;
}

.transaction_history,
.account_history {
    line-height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.payment_item {
    line-height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
}

.transaction_history:hover,
.account_history:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.history_modal,
.pay_modal,
.transfer_modal,
.account_modal p {
    font-size: 0.9rem;
}

.transaction_hr {
    border-top: 1px dashed #0000004a;
}

.account_condition {
    border: 2px solid #e86b3b;
    border-radius: 60px;
    line-height: 40px;
    cursor: pointer;
}

.account_condition:hover {
    background: #e86b3b;
    color: #fff;
}

.condition_item > .active {
    background: #e86b3b;
    color: #fff;
}

/* Quota */

.quota_item {
    line-height: 40px;
    border: 1px solid gray;
    border-radius: 6px;
}

.quota_item p {
    font-size: 0.9rem;
}

.quota_hr {
    border-top: 1px dashed #0000004a;
}

/* Login */

.toggle_password {
    position: absolute;
    top: 15%;
    right: 8%;
    cursor: pointer;
}

.forget_password {
    line-height: 30px;
    color: #949aa1;
    margin: 17px 0;
    display: block;
    font-size: 16px;
}

.login_item {
    line-height: 40px;
    /* border:1px solid gray; */
    box-shadow: 4px 4px 30px 3px #cccccc;
    border-radius: 6px;
}

.login_hr {
    border-top: 1px solid #0000004a;
}

.btn_memlogin {
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #4599d6;
    border: none;
    width: 100%;
}

.btn_shoplogin {
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #77a88d;
    border: none;
    width: 100%;
}

.btn_register {
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #bfc5ce;
    border: none;
    height: 40px;
    width: 100%;
}

.shop_lg {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #fff;
    background-color: #4599d6;
    font-size: 0.9rem;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px 0px 12px 12px;
    cursor: pointer;
}

.mem_lg {
    position: absolute;
    right: 20px;
    top: 0px;
    color: #fff;
    background-color: #77a88d;
    font-size: 0.9rem;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px 0px 12px 12px;
    cursor: pointer;
}

/* Register */

.register_item {
    line-height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
}

.register_item p {
    font-size: 0.9rem;
}

.register_item .mem_ul li {
    text-indent: -0.7em;
}

.register_item .mem_ul li:before {
    content: '• ';
    color: #4599d6;
}

.register_item .shop_ul li {
    text-indent: -0.7em;
}

.register_item .shop_ul li:before {
    content: '• ';
    color: #77a88d;
}

/* Shop Register */

.toggle_regpassword {
    position: absolute;
    top: 7%;
    right: 8%;
    cursor: pointer;
}

.is_error {
    color: #be0000;
    display: none;
}

/* 儲值 */
h2 {
    font-size: 30px;
}

.custom-select {
    width: auto;
}

.mybox {
    padding: 10px;
    /* border: 1px solid #000; */
    box-shadow: 4px 4px 30px 3px #cccccc;
    border-radius: 3px;
}

/* .mypanel{
    padding: 10px;
    box-shadow: 4px 4px 30px 3px #cccccc;
    border-radius: 3px;
} */

/* 勾勾svg */
svg {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* 信用卡視覺 */
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

.card {
    /* width: 320px; */
    /* height: 190px; */
    /*   -webkit-perspective: 600px; */
    /*   -moz-perspective: 600px; */
    /*   perspective:600px; */
}

.add_card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    /*     width: 320px; */
    /*     height: 190px; */
    background-image: linear-gradient(
        to right bottom,
        #95a6af,
        #95a6af,
        #95a6af,
        #95a6af,
        #95a6af
    ); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.card__part {
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    /*     width: 320px; */
    /*     height: 190px; */
    background-image: 
    /* url('../img/bear.png'), */ linear-gradient(
        to right bottom,
        #95a6af,
        #95a6af,
        #95a6af,
        #95a6af,
        #95a6af
    ); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.card__front {
    padding: 18px;
}

.card__back {
    padding: 18px 0;
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 40px;
}

.card__front-logo {
    position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 40px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position: relative;
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* 銀行管理頁面旋轉木馬 */
.carousel .carousel-item {
    height: 300px;
    width: 100%;
}

/** * 成功動畫 (sean) */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/* 失敗動畫(sean) */
.ui-success,
.ui-error {
    width: 100px;
    height: 100px;
    margin: 40px;
}
.ui-success-circle {
    stroke-dasharray: 260.75219025px, 260.75219025px;
    stroke-dashoffset: 260.75219025px;
    transform: rotate(220deg);
    transform-origin: center center;
    stroke-linecap: round;
    animation: ani-success-circle 1s ease-in both;
}
.ui-success-path {
    stroke-dasharray: 60px 64px;
    stroke-dashoffset: 62px;
    stroke-linecap: round;
    animation: ani-success-path 0.4s 1s ease-in both;
}
@keyframes ani-success-circle {
    to {
        stroke-dashoffset: 782.25657074px;
    }
}
@keyframes ani-success-path {
    0% {
        stroke-dashoffset: 62px;
    }
    65% {
        stroke-dashoffset: -5px;
    }
    84% {
        stroke-dashoffset: 4px;
    }
    100% {
        stroke-dashoffset: -2px;
    }
}
.ui-error-circle {
    stroke-dasharray: 260.75219025px, 260.75219025px;
    stroke-dashoffset: 260.75219025px;
    animation: ani-error-circle 1.2s linear;
}
.ui-error-line1 {
    stroke-dasharray: 54px 55px;
    stroke-dashoffset: 55px;
    stroke-linecap: round;
    animation: ani-error-line 0.15s 1.2s linear both;
}
.ui-error-line2 {
    stroke-dasharray: 54px 55px;
    stroke-dashoffset: 55px;
    stroke-linecap: round;
    animation: ani-error-line 0.2s 0.9s linear both;
}
@keyframes ani-error-line {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes ani-error-circle {
    0% {
        stroke-dasharray: 0, 260.75219025px;
        stroke-dashoffset: 0;
    }
    35% {
        stroke-dasharray: 120px, 120px;
        stroke-dashoffset: -120px;
    }
    70% {
        stroke-dasharray: 0, 260.75219025px;
        stroke-dashoffset: -260.75219025px;
    }
    100% {
        stroke-dasharray: 260.75219025px, 0;
        stroke-dashoffset: -260.75219025px;
    }
}

/* loading_spinner(sean) */
#loading_spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(95 107 113);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
/* 首頁 */
.amount-box {
    transition: transform 0.1s;
}
.amount-box:hover {
    transform: scale(1.1);
}

.btn {
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}
